<div class="row">
    <div class="col-md-6">
        <form>
            <div class="form-group">
              <label for="imeNaloga1">Ime naloga</label>
              <input type="text" class="form-control" #imeNaloga>
            </div>
            <div class="form-group">
                <select class="form-control" #status>
                  <option>Aktivan</option>
                  <option>Neaktivan</option>
                  <option>Nepoznat</option>
                </select>
            </div>            
            <button type="submit" class="btn btn-primary" (click)="OnDodajNalog(imeNaloga.value,status.value)">Dodaj nalog</button>
          </form>
    </div>
</div>


