<div class="row broderStyle">
    <div class="col">
        <h5>{{dodatNalog.ime}}</h5>
        <hr>
        <p>Ovaj nalog je {{dodatNalog.status}}</p>
        <button class="btn btn-primary" (click)="onPodesiStatus('aktivan')">Postavi na 'aktivan'</button>
        <button class="btn btn-primary" (click)="onPodesiStatus('neaktivan')">Postavi na 'neaktivan'</button>
        <button class="btn btn-primary" (click)="onPodesiStatus('nepoznat')">Postavi na 'nepoznat'</button>
    </div>
</div>
  




